<%- include('./partials/header')%>

<div class="container col-md-6">
  <div class="row">
    <div class="container col-md-6 mx-auto align-midle mt-5">
      <h3 class="text-center">Register</h3>
    </div>
  </div>
  <div class="row">
    <div class="container col-md-6 mx-auto" >
      <form action="/user/register" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="first_name" placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="last_name" placeholder="Last name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input type="number" name="age" class="form-control" placeholder="Age">
          </div>
          <div class="form-group col">
            <input type="number" name="budget" name="budget" class="form-control" placeholder="Budget">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="email@example.com">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" value="Register" class="btn btn-primary btn-md btn-block">Register Now</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <img src="https://ibb.co/dp6R3sj" alt="">
  </div>
  <div class="container col-md-6 mx-auto align-midle">
    <p class="text-center">Already have an account?</p>
    <p class="text-center"><a href="/login">Login</a></p>
  </div>
</div>

<%- include('./partials/end')%>